.vs/
.vscode/
SharedLib/lib
BuildCache/
tempbuild/
Novashell_Windows.zip
novashell/bin/game.exe
novashell/bin/game.pdb
novashell/bin/packaging/win/game.exe
novashell/bin/log.txt

novashell/bin/temp.tmp
localmedia/fake_youtube_button.psd
localmedia/youtube_thumb.png
localmedia/youtube_thumb.psd
novashell/bin/RT_BeerInvaders.novazip
novashell/bin/profiles
